<!DOCTYPE html>
<html lang="fr">
	<head>
		<link rel="stylesheet" type="text/css" href="../css/style.css">
	</head>
	<body>
		<div id="window-bar">
			<span id="window-title">Projet L.U.M.E.N - Musique</span>
			<span id="window-close-button">✕</span>
		</div>

		<!-- Grid -->
		<div class="main-music"> 	
			<div id="albumlist"></div>
			<ul id="album-details">

			</ul>
			<a id="album-details-close">X</a>
			<div id="playlist">
				<p id="playlist-head">Liste de lecture</p>
				<p id="playlist-cmd"><span id="playlist-refresh">Actualiser</span> - <span id="playlist-random">Aléatoire</span> - <span id="playlist-clear">Vider liste</span></p>
				<ul id="music-list">

				</ul>
			</div>
		</div>

		<script type="text/javascript" src="../js/main.js"></script>
		<script type="text/javascript" src="../js/windows/music.js"></script>
		<script type="text/javascript" src="../js/modules/music.js"></script>
	</body>
</html>