<!DOCTYPE html>
<html lang="fr">
	<head>
		<link rel="stylesheet" type="text/css" href="../css/style.css">
	</head>
	<body>
		<div id="window-bar">
			<span id="window-title">Projet L.U.M.E.N - Images</span>
			<span id="window-close-button">✕</span>
		</div>

		<!-- Grid -->
		<div class="main-pictures"> 
			<ul id="main-pictures-list"></ul>
			<a id="main-pictures-folder-close">X</a>
			<ul id="main-pictures-folder"></ul>
			<a id="main-pictures-file-view-close">X</a>
			<img id="main-pictures-file-view">
		</div>

		<script type="text/javascript" src="../js/main.js"></script>
		<script type="text/javascript" src="../js/windows/pictures.js"></script>
		<script type="text/javascript" src="../js/modules/pictures.js"></script>
	</body>
</html>