@font-face {
	font-family: "OpenSans-Light";
	src: url('../fonts/OpenSans-Light.ttf');
}

body {
	margin: 0;
	padding: 0;
	padding-top: 1.5em;

	font-family: "OpenSans-Light";

	background: #222831;
	color: #eee;
}

input {
	box-sizing: border-box;

	background: #393e46;
	border: 2px solid #353b48;
	color: #dfe6e9;

	outline: none;
}

/* SCROLLBAR CUSTOM */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-thumb {
  background: #1e1e1e;
  border: 0 none #777777;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #777777;
}
::-webkit-scrollbar-thumb:active {
  background: #979797;
}
::-webkit-scrollbar-track {
  background: #999999;
  border: 0 none #777777;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #999999;
}
::-webkit-scrollbar-track:active {
  background: #DDDDDD;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/**
 * Top Bar
 */
#window-bar {
	-webkit-app-region: drag;
	width: calc(100% - 2em);
	position: fixed;
	top: 0;
	left: 0;
}
#window-title {
	display: block;

	padding: 0.2em 0.8em;

	font-size: 0.9em;
}
#window-close-button {
	float: right;
	display: block;

	position: fixed;
	top: 0;
	right: 0;

	width: 2.5em;
	padding: 0.2em 0.2em 0.3em 0.2em;
	/* On compense le decalage du caractere */

	box-sizing: content-box;

	vertical-align: middle;
	text-align: center;

	font-size: 0.7em;
	color: #eee;

	z-index: 2;

	cursor: pointer;
}
#window-close-button:hover {
	background: #f94545;
}

/**
 * Popup
 */
.popup {
	text-align: center;
}
.popup input {
	padding: 0.5em;
}