@font-face {
	font-family: "OpenSans-Light";
	src: url('../fonts/OpenSans-Light.ttf');
}

body {
	margin: 0;
	padding: 0;
	padding-top: 1.5em;

	font-family: "OpenSans-Light";

	background: #222831;
	color: #eee;
}

/* SCROLLBAR CUSTOM */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-thumb {
  background: #1e1e1e;
  border: 0 none #777777;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #777777;
}
::-webkit-scrollbar-thumb:active {
  background: #979797;
}
::-webkit-scrollbar-track {
  background: #999999;
  border: 0 none #777777;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #999999;
}
::-webkit-scrollbar-track:active {
  background: #DDDDDD;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/**
 * Top Bar
 */
#window-bar {
	-webkit-app-region: drag;
	width: calc(100% - 2em);
	position: fixed;
	top: 0;
	left: 0;
}
#window-title {
	display: block;

	padding: 0.2em 0.8em;

	font-size: 0.9em;
}
#window-close-button {
	float: right;
	display: block;

	position: fixed;
	top: 0;
	right: 0;

	width: 2.5em;
	padding: 0.2em 0.2em 0.3em 0.2em;
	/* Compensate char size */

	box-sizing: content-box;

	vertical-align: middle;
	text-align: center;

	font-size: 0.7em;
	color: #eee;

	z-index: 2;

	cursor: pointer;
}
#window-close-button:hover {
	background: #f94545;
}

/**
 * Tile system
 */
.tile {
	width: 19%;

	padding-top: calc(19.5% - 0.5rem);
	margin: 0.25%;
	border-radius: 1%;

	display: inline-block;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color:  rgb(150,150,150);
	background-color: rgba(150,150,150,0.2);
	
	box-sizing: border-box;

	position: relative;
}
.tile:hover {
	cursor: pointer;
}
.tile p {
	text-align: center;
}

/**
 * Main flex system
 */
.main {
	display: flex;
	flex-wrap: wrap;
}

/* Create four equal columns that sits next to each other */
.module {
	flex: calc(25% - 1em);
	max-width: calc(25% - 1em);
	box-sizing: border-box;

	margin-top: 8px;
	vertical-align: middle;
	position: relative;

	text-align: center;

	padding: 1em;
	margin: 0.5em;
	border: 1px solid #3e4452;

	user-select: none;
}

@media (max-width: 1150px) {
	.module {
		flex: calc(50% - 1em);
		max-width: calc(50% - 1em);
	}
}

@media (max-width: 600px) {
	.module {
		flex: calc(100% - 1em);
		max-width: calc(100% - 1em);
	}
}

/**
 * Music
 */
.module-music img {
	border: 1px solid #3e4452;

	min-width: 150px;
	min-height: 150px;

	max-width: 60%;

	margin: 1em;
}
#module-music-more {
	position: absolute;
	top: 0.25em;
	right: 0.5em;
	font-size: 1.25em;
}
audio {
	display: none;
}
#module-music-more,
#module-music-prev, #module-music-next, 
#module-music-decVol, #module-music-incVol,
#module-music-playPause,
#module-music-auto {
	user-select: none;
	cursor: pointer;
}
#module-music-prev {
	padding-left: 30%;
	float: left;
}
#module-music-next {
	padding-right: 30%;
	float: right;
}
#module-music-auto {
	font-weight: bold;
	color: red;
}

/**
 * Pomodoro
 */
.module-pomodoro table, .module-pomodoro tbody {
	width: 100%;
}
.module-pomodoro td {
	width: 20%;
}


/**
 * Fenetre: musique
 */
.main-music {
	position: fixed;
	top: 2em;
	height: calc(100% - 2em);
	width: 100%;

	user-select: none;
}
#music-list li:hover {
	cursor: pointer;
}
#playlist {
	position: fixed;
	top: 2em;
	right: 0;
	height: calc(100% - 2em);
	width: 20%;
	background-color:  rgb(150,150,150);
	background-color: rgba(150,150,150,0.2);
	border-top:  1px solid #ccc;
	border-left: 1px solid #ccc;
	padding: 1rem 0;
	box-sizing: border-box;
}
#playlist-head, #playlist-cmd {
	text-align: center;
	margin: 0;
}
#playlist-cmd span, .album-details-music {
	cursor: pointer;
}
#playlist-cmd, #music-list {
	margin-top: 0.5em;
}
#music-list {
    list-style: none;
    font-size: 0.9em;
    padding: 10px;
    height: calc(100% - 3em);
    overflow: auto;
    width: 100%;
    box-sizing: border-box;
}

#albumlist, #album-details {
	width: 80%;
	height: 100%;
	overflow-y: scroll;
}
#album-details {
	display: none;
	list-style: none;

    padding: 0;
    margin: 0;
}
#album-details-close {
	position: fixed;
	top: 1em;
	right: calc(20% + 1em);

	display: none;
	cursor: pointer;
}
#album-details li {
	margin-left: 0.5em;
}
.add-album {
	position: absolute;
	bottom: -0.4rem;
	right: 0.4rem;
	font-size: 2rem;
}

/**
 * Exit Popup
 */
.popup {
	text-align: center;
}
.popup input {
	padding: 0.5em;

	box-sizing: border-box;

	background: #393e46;
	border: 2px solid #353b48;
	color: #dfe6e9;

	outline: none;
}

/**
 * Module pictures
 */
.module-pictures img {
	max-width: 100%;
	max-height: 50vh;
}