<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../css/style.css">
	</head>
	<body>
		<div id="window-bar">
			<span id="window-title">Projet L.U.M.E.N - Learned United Machines of Elanis Network</span>
			<span id="window-close-button">✕</span>
		</div>

		<div class="main"> 	
			<div class="module module-music">
				<span id="module-music-more">&equiv;</span>

				<b>Music</b><br/>
				<br/>
				<span id="module-music-album"></span><br/>
				<img id="module-music-img" src="" onError="this.src='PATHTOMUSIC/_icons/noimage.jpg';"><br/>
				<span id="module-music-time">0:00/0:00</span><br/>
				<span id="module-music-title">Empty playlist</span><br/><br/>
				<span id="module-music-prev">◁◁</span>
				<span id="module-music-playPause">▶</span>
				<span id="module-music-next">▷▷</span><br/><br/>
				<span id="module-music-decVol">&#128265;</span>
				<span id="module-music-volume">50%</span>
				<span id="module-music-incVol">&#128266;</span><br/><br/>
				<span id="module-music-auto">Automatic playlist</span>

				<audio id="audio" src="" controls />
			</div>

			<div class="module module-pomodoro">
				<table>
					<b>Time management</b><br/>
					<br/>

					<tr>
						<td></td>
						<td></td>
						<td>% day</td>
						<td>% week</td>
						<td>% month</td>
					</tr>

					<tr>
						<td>Work</td>
						<td rowspan="2"><span id="module-pomodoro-work">&#9654;</span></td>
						<td rowspan="2" id="module-pomodoro-work-day-percentage">0%</td>
						<td rowspan="2" id="module-pomodoro-work-week-percentage">0%</td>
						<td rowspan="2" id="module-pomodoro-work-month-percentage">0%</td>
					</tr>
					<tr>
						<td id="module-pomodoro-work-time">00:00:00</td>
					</tr>

					<tr>
						<td>Game</td>
						<td rowspan="2"><span id="module-pomodoro-game">&#9654;</span></td>
						<td rowspan="2" id="module-pomodoro-game-day-percentage">0%</td>
						<td rowspan="2" id="module-pomodoro-game-week-percentage">0%</td>
						<td rowspan="2" id="module-pomodoro-game-month-percentage">0%</td>
					</tr>
					<tr>
						<td id="module-pomodoro-game-time">00:00:00</td>
					</tr>

					<tr>
						<td>Other</td>
						<td rowspan="2"><span id="module-pomodoro-other">&#x25b7;</span></td>
						<td rowspan="2" id="module-pomodoro-other-day-percentage">0%</td>
						<td rowspan="2" id="module-pomodoro-other-week-percentage">0%</td>
						<td rowspan="2" id="module-pomodoro-other-month-percentage">0%</td>
					</tr>

					<tr>
						<td id="module-pomodoro-other-time">00:00:00</td>
					</tr>

					<tr>
						<td>Videos/Series</td>
						<td rowspan="2"><span id="module-pomodoro-videos">&#9654;</span></td>
						<td rowspan="2" id="module-pomodoro-videos-day-percentage">0%</td>
						<td rowspan="2" id="module-pomodoro-videos-week-percentage">0%</td>
						<td rowspan="2" id="module-pomodoro-videos-month-percentage">0%</td>
					</tr>

					<tr>
						<td id="module-pomodoro-videos-time">00:00:00</td>
					</tr>
				</table>
				<br/>
				<canvas id="pomodoro-chart" viewBox="0 0 440 220" style="width: 100%;"></canvas>
			</div>

			<div class="module module-pictures"></div>

			<div class="module module-monitoring">
				<b>Monitoring</b><br/>
				<br/>
				<table>
					<tbody>
						<tr><td></td></tr>
					</tbody>
				</table>
			</div> 
		</div>

		<script type="text/javascript" src="../js/chart.min.js"></script>
		<script type="text/javascript" src="../js/chartjs-plugin-annotation.min.js"></script>

		<script type="text/javascript" src="../js/main.js"></script>
		<script type="text/javascript" src="../js/windows/index.js"></script>
		<script type="text/javascript" src="../js/modules/monitoring.js"></script>
		<script type="text/javascript" src="../js/modules/music.js"></script>
		<script type="text/javascript" src="../js/modules/pictures.js"></script>
		<script type="text/javascript" src="../js/modules/pomodoro.js"></script>
	</body>
</html>