<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../css/style.css">
	</head>
	<body>
		<div id="window-bar">
			<span id="window-title">Projet L.U.M.E.N - Learned United Machines of Elanis Network</span>
			<span id="window-close-button">✕</span>
		</div>

		<div class="main"> 	
			<div class="module module-music">
				<span id="module-music-more">&equiv;</span>

				<b>Music</b><br/>
				<br/>
				<span id="module-music-album"></span><br/>
				<img id="module-music-img" src="" onError="this.src='PATHTOMUSIC/_icons/noimage.jpg';"><br/>
				<span id="module-music-time">0:00/0:00</span><br/>
				<span id="module-music-title">Empty playlist</span><br/><br/>
				<span id="module-music-prev">◁◁</span>
				<span id="module-music-playPause">▶</span>
				<span id="module-music-next">▷▷</span><br/><br/>
				<span id="module-music-decVol">&#128265;</span>
				<span id="module-music-volume">50%</span>
				<span id="module-music-incVol">&#128266;</span><br/><br/>
				<span id="module-music-auto">Automatic playlist</span>

				<audio id="audio" src="" controls />
			</div>
		</div>

		<script type="text/javascript" src="../js/main.js"></script>
		<script type="text/javascript" src="../js/windows/index.js"></script>
		<script type="text/javascript" src="../js/modules/music.js"></script>
	</body>
</html>