<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../css/style.css">
	</head>
	<body>
		<div id="window-bar">
			<span id="window-title">Projet L.U.M.E.N - Learned United Machines of Elanis Network</span>
			<span id="window-close-button">✕</span>
		</div>

		<h1>Hello World!</h1>
		We are using node <script>document.write(process.versions.node)</script>,
		Chrome <script>document.write(process.versions.chrome)</script>,
		and Electron <script>document.write(process.versions.electron)</script>.

		<script type="text/javascript" src="../js/main.js"></script>
		<script type="text/javascript" src="../js/windows/index.js"></script>
	</body>
</html>